<h1><%= markdown_to_html(@wiki.title) %></h1>
<small>
   submitted <%= time_ago_in_words(@wiki.created_at) %> ago by
   <%= @wiki.user.name %>
</small>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <p><%= markdown_to_html(@wiki.body) %></p>
    </h4>
  </div>
</div>
<% if policy(@wiki).edit? %>
  <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
<% end %>
<% if policy(@wiki).destroy? %>
  <%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
<% end %>
<br>
<br>
<% if @collaborators.any? %>
<h3>Collaborators</h3>
<div class='js-collaterators'>
  <%= render partial: 'collaborators/collaborator', collection: @collaborators %>
</div>
<% end %>
